.message-board {
    border-radius: 10px;
    height: 160px;
    width: 800px;
    margin: 40px;
    font-size: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}